In [1]:
len("def")

3

In [4]:
a='def'
print(a[1])
type(a[1])

e

str

In [5]:
b='salt'
a+b

'defsalt'

In [6]:
c=33
a+str(c)

'def33'

In [12]:
a=[1,2,3,4,5]
for i in range(len(a)):
    print(a[i]**2)

1
4
9
16
25

In [13]:
for i in a:
    print(i)

1
2
3
4
5

In [14]:
a='abcdef'
a[2:5]

'cde'

In [15]:
a.upper()

'ABCDEF'

In [19]:
a.isalpha()

True

In [20]:
a=input()
a

deepanshu

'deepanshu'

In [29]:
a='deepanshu sadhwani'
print(a.strip(' '))

wani

In [30]:
a.upper()

'DEEPANSHU SADHWANI'

In [38]:
a='abcdef'
a[::-1 ]

'fedcba'

In [45]:
#tuples
a=(1,2,3)
b=(3,4,5)
a[1]

2

In [47]:
c=a+b
print(c)

(1, 2, 3, 3, 4, 5)